$color: #fff;
$green: #3CA55C;
$lemon: #F9D423;
$font: 'Open Sans', Arial, Helvetica, sans-serif;
$font-size: 14px;
$center-margin: 0 auto;

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		    border-radius: $radius; 
}

@mixin rotate($rotate: (90deg)) {
	-webkit-transform: rotate($rotate);
	   	-ms-transform: rotate($rotate);
		    transform: rotate($rotate); 
}

@mixin transition($transition) {
	-webkit-transition: $transition;
		    transition: $transition; 
}

@mixin triangle($width, $dir, $color) {
	@if $dir == up {
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;

		border-bottom: $width/2 solid $color;
	} @else if $dir == down {
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;

		border-top: $width/2 solid $color;
	} @else if $dir == right {
		border-top: $width solid transparent;
		border-bottom: $width solid transparent;

		border-left: $width solid $color;
	} @else if $dir == left {
		border-top: $width solid transparent;
		border-bottom: $width solid transparent;

		border-left: $width solid $color;
	}

}

.triangle {
		width: 0;
		height: 0;
		display: block;
	}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: $font;

	p {
		color: #777;
		font-size: $font-size;
	}

	small {
		display: block;
		text-align: center;
		padding: 10px;

		a { color: #f00; }

		.triangle {
			@include triangle(10px, right, $green);
		}
	}
}


header {
	background: {
		image: linear-gradient( to right, $green, $lemon);
		color: $green;
		attachment: fixed;
	}
	box-shadow: 0 -4px 6px -4px darken($green, 10%) inset;

	h1 { 
		color: #fff;
		font-size: 40px;
		font-weight: 300;
		margin: 40px 0;
		text-shadow: 1px 1px #579837;
	}
	a.light-btn {
		display: block;
		max-width: 215px;
		margin: 30px auto;
		padding: 10px 15px;
		text-align: center;
		color: #fff;
		background-color: rgba(255, 255, 255, .15);
		border: 2px solid #fff;
		@include transition(all 0.5s ease-in);

		&:hover {
			color: $green;
			background-color: #fff;
			@include border-radius(35px);
			@include transition(all 0.5s ease-out);
		}
	}	

	#logo {
		text-align: center;
		margin: 40px 0;

		&:hover {
			span { 
				@include rotate(-360deg);
				@include transition(all 0.5s ease-out);  
		}
			span:first-child, span:last-child { @include rotate(360deg); }
		}

		span {
			width: 65px;
			height: 65px;
			display: inline-block;
			font-size: 35px;
			line-height: 61px;
			color: #fff;
			border: 2px solid #fff;
			@include border-radius(100%);
		}
	
	}
}

section {
	h2 {
		margin: 15px 0;
	}
}


.wrapper {
	width: 100%;
	max-width: 960px;
	margin: $center-margin;
	padding: 20px;
	overflow: auto;
	@include border-radius;

	h1 { text-align: center; }
	
	h2 {
		color: lighten($green, 10%);
	}

	a {
		color: $green;
		text-decoration: none;
	}
	a:hover {
		color: darken($green, 25%);
	}
}

/***ABOUT SOMETHING***/

#about-something { 
	padding: 10px 0 20px;
}

#about-something img {
	max-width: 175px;
	float: left;
	border: 3px solid #fff;
	@include border-radius(100%);
}

#about-something p { 
	float: right;
	width: 80%;
	padding: 40px 0;
}

/***MUSSUM QUOTE***/

#mussum-quote {
	background-color: lighten(#000, 90%);
	padding: 25px;
}

#mussum-quote blockquote {
	font: {
		family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		size: 30px;
		style: italic;
	}
	text-align: center;
	color: darken(#fff, 30%);
}