$color: #fff;
$blue: #708c87;
$font: 'Open Sans', Arial, Helvetica, sans-serif;
$font-size: 12px;
$center-margin: 0 auto;

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		    border-radius: $radius; 
}

@mixin rotate($rotate: (90deg)) {
	-webkit-transform: rotate($rotate);
	   	-ms-transform: rotate($rotate);
		    transform: rotate($rotate); 
}


@mixin triangle($width, $dir, $color) {
	@if $dir == up {
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;

		border-bottom: $width/2 solid $color;
	} @else if $dir == down {
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;

		border-top: $width/2 solid $color;
	} @else if $dir == right {
		border-top: $width solid transparent;
		border-bottom: $width solid transparent;

		border-left: $width solid $color;
	} @else if $dir == left {
		border-top: $width solid transparent;
		border-bottom: $width solid transparent;

		border-left: $width solid $color;
	}

}

.triangle {
		width: 0;
		height: 0;
		display: block;
	}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
}


body {
	font-family: $font;
}


p {
	color: darken($color, 70%);
	font-size: $font-size;
}

small {
	display: block;
	text-align: center;
	padding: 10px;

	a { color: #f00; }

	.triangle {
		@include triangle(10px, right, $blue);
	}
}

header {
	background-image: linear-gradient( to right, #3CA55C, #F9D423);

	h1 { 
		color: #fff;
		font-size: 35px;
		font-weight: 300;
	}
	#logo {
		text-align: center;
		margin: 20px;

		span {
			width: 65px;
			height: 65px;
			display: inline-block;
			padding: 10px 20px;
			font-size: 35px;
			color: #fff;
			border: 2px solid #fff;
		}
	
	}
}


.wrapper {
	width: 960px;
	margin: $center-margin;
	padding: 20px;
	@include border-radius;

	h1 { text-align: center; }
	
	h2 {
		color: lighten($blue, 10%);
	}

	a {
		color: $blue;
		text-decoration: none;
	}
	a:hover {
		color: darken($blue, 25%);
	}
}