/* line 50, ../sass/style.scss */
.triangle {
  width: 0;
  height: 0;
  display: block;
}

/* line 56, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 63, ../sass/style.scss */
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
/* line 66, ../sass/style.scss */
body p {
  color: #777;
  font-size: 14px;
}
/* line 71, ../sass/style.scss */
body small {
  display: block;
  text-align: center;
  padding: 10px;
}
/* line 76, ../sass/style.scss */
body small a {
  color: #f00;
}
/* line 78, ../sass/style.scss */
body small .triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #3CA55C;
}

/* line 85, ../sass/style.scss */
header {
  background-image: linear-gradient(to right, #3CA55C, #F9D423);
  background-color: #3CA55C;
  background-attachment: fixed;
  box-shadow: 0 -4px 6px -4px #2e8047 inset;
}
/* line 93, ../sass/style.scss */
header h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  margin: 40px 0;
  text-shadow: 1px 1px #579837;
}
/* line 100, ../sass/style.scss */
header a.light-btn {
  display: block;
  max-width: 215px;
  margin: 30px auto;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
/* line 111, ../sass/style.scss */
header a.light-btn:hover {
  color: #3CA55C;
  background-color: #fff;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 119, ../sass/style.scss */
header #logo {
  text-align: center;
  margin: 40px 0;
}
/* line 124, ../sass/style.scss */
header #logo:hover span {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 128, ../sass/style.scss */
header #logo:hover span:first-child, header #logo:hover span:last-child {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 131, ../sass/style.scss */
header #logo span {
  width: 65px;
  height: 65px;
  display: inline-block;
  font-size: 35px;
  line-height: 61px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/* line 146, ../sass/style.scss */
section h2 {
  margin: 15px 0;
}

/* line 152, ../sass/style.scss */
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 159, ../sass/style.scss */
.wrapper h1 {
  text-align: center;
}
/* line 161, ../sass/style.scss */
.wrapper h2 {
  color: #53c175;
}
/* line 165, ../sass/style.scss */
.wrapper a {
  color: #3CA55C;
  text-decoration: none;
}
/* line 169, ../sass/style.scss */
.wrapper a:hover {
  color: #1a4828;
}

/***ABOUT SOMETHING***/
/* line 176, ../sass/style.scss */
#about-something {
  overflow: auto;
}

/* line 178, ../sass/style.scss */
#about-something img {
  max-width: 175px;
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/* line 185, ../sass/style.scss */
#about-something p {
  float: right;
  width: 80%;
  padding: 40px 0;
}
