/* line 47, ../sass/teste.scss */
.triangle {
  width: 0;
  height: 0;
  display: block;
}

/* line 53, ../sass/teste.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

/* line 61, ../sass/teste.scss */
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
/* line 64, ../sass/teste.scss */
body p {
  color: #777;
  font-size: 12px;
}
/* line 69, ../sass/teste.scss */
body small {
  display: block;
  text-align: center;
  padding: 10px;
}
/* line 74, ../sass/teste.scss */
body small a {
  color: #f00;
}
/* line 76, ../sass/teste.scss */
body small .triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #708c87;
}

/* line 83, ../sass/teste.scss */
header {
  background-image: linear-gradient(to right, #3CA55C, #F9D423);
}
/* line 86, ../sass/teste.scss */
header h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  margin: 40px 0;
  text-shadow: 1px 1px #579837;
}
/* line 93, ../sass/teste.scss */
header a.light-btn {
  display: block;
  max-width: 215px;
  margin: 30px auto;
  padding: 10px 15px;
  text-align: center;
  color: #3CA55C;
  background-color: #fff;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
/* line 104, ../sass/teste.scss */
header #logo {
  text-align: center;
  margin: 40px 0;
}
/* line 108, ../sass/teste.scss */
header #logo span {
  width: 65px;
  height: 65px;
  display: inline-block;
  font-size: 35px;
  line-height: 61px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/* line 123, ../sass/teste.scss */
.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 129, ../sass/teste.scss */
.wrapper h1 {
  text-align: center;
}
/* line 131, ../sass/teste.scss */
.wrapper h2 {
  color: #8ca39f;
}
/* line 135, ../sass/teste.scss */
.wrapper a {
  color: #708c87;
  text-decoration: none;
}
/* line 139, ../sass/teste.scss */
.wrapper a:hover {
  color: #374543;
}
