/* line 45, ../sass/teste.scss */
.triangle {
  width: 0;
  height: 0;
  display: block;
}

/* line 51, ../sass/teste.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

/* line 59, ../sass/teste.scss */
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* line 64, ../sass/teste.scss */
p {
  color: #4d4d4d;
  font-size: 12px;
}

/* line 69, ../sass/teste.scss */
small {
  display: block;
  text-align: center;
  padding: 10px;
}
/* line 74, ../sass/teste.scss */
small a {
  color: #f00;
}
/* line 76, ../sass/teste.scss */
small .triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #708c87;
}

/* line 81, ../sass/teste.scss */
header {
  background-image: linear-gradient(to right, #3CA55C, #F9D423);
}
/* line 84, ../sass/teste.scss */
header h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
}
/* line 89, ../sass/teste.scss */
header #logo {
  text-align: center;
  margin: 20px;
}
/* line 93, ../sass/teste.scss */
header #logo span {
  width: 65px;
  height: 65px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 35px;
  color: #fff;
  border: 2px solid #fff;
}

/* line 107, ../sass/teste.scss */
.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 113, ../sass/teste.scss */
.wrapper h1 {
  text-align: center;
}
/* line 115, ../sass/teste.scss */
.wrapper h2 {
  color: #8ca39f;
}
/* line 119, ../sass/teste.scss */
.wrapper a {
  color: #708c87;
  text-decoration: none;
}
/* line 123, ../sass/teste.scss */
.wrapper a:hover {
  color: #374543;
}
